@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "wastedpromax";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: #e0f1d6;
  --color-base-200: #c4e5b1;
  --color-base-300: #9fd383;
  --color-base-content: oklch(0% 0 0);
  --color-primary: #7dbf5c;
  --color-primary-content: oklch(0% 0 0);
  --color-secondary: #5ea43e;
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: #47822e;
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: #386427;
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(100% 0 0);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 0.5px;
  --depth: 1;
  --noise: 0;
}